@import "_position.css";
@import "_image.css";
@import "_form.css";
@import "_btn.css";
@import "_format.css";

.jumbotron{
     background-color: #ddd !important;
 }
.home-bg {
    background-image: url(/uploads/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
}
.a {
    color: black;
}
.a-login{
    color: rgba(0,0,0,.5) !important;
    border-color: rgba(0,0,0,1) !important;
    border: solid 1px;
    border-radius: 0.25rem;
    padding:5px;
}
#navigation{
    display: none;
}