{% for type, messages in app.flashes(['success', 'danger', 'info', 'verify_email_error']) %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}